miry_us:
  :bot: lords_and_kinghts
  :email: miry@example.com
  :password: changeme
  :server_url: http://lordsandknights.com/en/
  :server_id: 96
  :actions:
    - build_first
  :buildings:
    - 1..12

miry_ru:
  :bot: lords_and_kinghts
  :email: miry@example.com
  :password: changeme
  :server_url: http://lordsandknights.com/en/
  :server_id: 45

miry_ts5_com:
  :bot: travian
  :server_url: http://ts1.travian.com
  :email: miry.sof@gmail.com
  :name: miry
  :password: changeme
  :timeout: 5
